/*
*
* FlatApp Color CSS
* You can easily change template   
* primary color using this color css file.
* Just replace with your own color HEX code and RGBA color Where nesseary.
*
*/

/* Solid HEX Code */
.screen-wrap .swiper-pagination-bullets .swiper-pagination-bullet-active,
.review-carousel .owl-item.center,
.icon-wrap span,
.scroll-to-top,
.footer-social li a:hover,
.owl-nav-2 .owl-nav div,
.bg-green,
.b-btn{
    background-color: #2B8180;
}
.feature-list .list-item i,
.footer-social li a,
.video-box .video-icon a,
.list-check li:before,
.text-red{
    color: #2B8180;
}
.b-btn:hover{
    background-color: #2B8180;
}
.video-box .video-icon{
    border-right: 2px solid #2B8180;
}
.screen-wrap .swiper-pagination-bullets .swiper-pagination-bullet-active,
.icon-wrap,
.footer-social li a,
a{
     border: 1px solid #2B8180;
}







