
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease 0s;
}
.fixed-top.header{
    padding: 5px 0;
	border-bottom: 1px solid #ddd;
    transition: all 0.2s ease 0s;
}
.fixed-top.transparent-header{
	background-color: #fff;
}
.transparent-header ul.nav > li > a{
	color: #ddd;
	opacity: 0.6;
}
.transparent-header ul.nav > li > a:focus,
.transparent-header ul.nav > li > a:hover,
.transparent-header ul.nav > li.active > a{
	color: #fff;
	opacity: 1;
}
.fixed-top.transparent-header ul.nav > li > a{
	color: #333;
	opacity: 0.6;
}
.fixed-top.transparent-header ul.nav > li > a:focus,
.fixed-top.transparent-header ul.nav > li > a:hover,
.fixed-top.transparent-header ul.nav > li.active > a{
	color: #333;
	opacity: 1;
}
.navbar{
    border: medium none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: relative;
}
.navbar-header{
    padding: 12px 0;
}
.navbar-header .brand{
	font-size: 25px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -1px;
	font-weight: 700;
}
.nav-btn {
	background-color: transparent;
	font-size: 22px;
    margin: 3px 0 0 15px;
	padding: 10px;
	border-radius: 1px;
	color: #777;
}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

/* Nav Menu */
ul.nav{}
ul.nav > li{}
ul.nav > li > a{
	color: #ddd;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
}
ul.nav > li > a:focus,
ul.nav > li > a:hover,
ul.nav > li.active > a{
    background: none;
    color: #fff;
}

.hero-section{}
.hero-content{
    padding-top: 135px;
} 
.hero-section .display-table{
    background-color: rgba(0,0,0,0.4);
}

.icon-wrap{
    margin: 0 auto;
    position: relative;
    border: 1px solid #428A8B;
}
.icon-wrap span{
    font-family: 'LANENAR', sans-serif;
    display: block;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #428A8B;
    color: #fff;
    line-height: 25px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.box-hover{
    transition: all 0.5s ease-in-out;
}

.doc-mockup .doc-mockup-1{
    width: 50%;
    z-index: -1;
}
.doc-mockup .doc-mockup-2{
    width: 40%;
    position: absolute;
    left: 140px;
    bottom: 0;
}

.feature-section{}
.feature-wrap{
    padding: 80px 0;
}

.about-moc .about-moc-1{
    width: 75%;
    position: relative;
}
.about-moc .about-moc-2{
    width: 60%;
    position: absolute;
    left: 140px;
    bottom: 0;
}

.screen-wrap{
    width: 900px;
    margin: 0 auto;
}
.screen-wrap .swiper-container{
    padding-bottom: 60px;
}
.swiper-wrapper{ margin-left: -50px; }
.screen-wrap .swiper-pagination-bullets{
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
}
.screen-wrap .swiper-pagination-bullets .swiper-pagination-bullet{
    width: 13px;
    height: 13px;
    background-color: #f5f5f5;
    border: 2px solid #777;
    opacity: 1;
}
.screen-wrap .swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: #428A8B;
    border: 1px solid #428A8B;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/

.download-mock-up{
    background-image: url(../img/phone-4.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 700px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50px;
    right: 0;
}

.subscribe-box{}
.subscribe-form{}
.subscribe-form .email-field{
    display: inline-block;
	background-color: #fff;
	border: none;
	color: #444;
	font-size: 12px;
	line-height: 46px;
	padding: 0 15px;
	width: 60%;
}
.subscribe-form .b-btn{
    width: 20%;
}
.subscribe-form .email-field.fs-input-error{
    border: 1px solid red;
}

.footer-social{}
.footer-social li{
    display: inline-block;
    margin-left: 10px;
}
.footer-social li a{
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #428A8B;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 28px;
}
.footer-social li a:hover{
    text-decoration: none;
    background-color: #428A8B;
    color: #fff;
}


.scroll-to-top{
	display: block;
	text-align: center;
	background-color: #428A8B;
	font-size: 12px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	border-radius: 50%;
	position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
.scroll-to-top:hover{
    color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	text-decoration: none;
}