@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #1A3A57;
 --secondary-color: #428A8B;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

 body {
  font-family: 'Segoe UI', 'Helvetica Neue';
}

nav {
    background: #D9EDE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 120px;

  }

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
} 
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

}

.hamburger {
    display: none;
  }

  .logo {
    font-size: 2rem;
    font-weight: 100;
    width: 25%;
    padding-top: 10px;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
    color: #428A8B;
  }
  .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.9rem;
  max-width: 1100px;
  margin: 2rem auto -6rem;
  ;
  }
  .nav-item {
    font-weight: var(--bold-font);
    color: #428A8B;
  }

  .intro {
    margin-top: 5%;
    padding: 0;
    font-weight:lighter;
    font-family: 'Helvetica Neue';
    font-size: 20pt;
    text-align: center;
  }
  
